.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #18161b;
}

table {
  border-collapse: collapse;
}

tr:not(:last-of-type) {
  border-bottom: 5px solid #FFFFFF;
}